name: Issue Review

on:
  issues:
    types: [opened, edited, labeled]

jobs:
  setup:
    runs-on: ubuntu-latest
    steps:
      - name: Create label if not exists
        uses: actions/github-script@v7
        with:
          script: |
            const labelName = "issue review"
            const { data: existingLabels } = await github.rest.issues.listLabelsForRepo({
              owner: context.repo.owner,
              repo: context.repo.repo
            })
            const labelExists = existingLabels.some(label => label.name === labelName)
            if (!labelExists) {
              await github.rest.issues.createLabel({
                owner: context.repo.owner,
                repo: context.repo.repo,
                name: labelName,
                color: "f29513",
                description: "Label for issue review"
              })
            }

  review:
    needs: setup
    runs-on: ubuntu-latest
    if: contains(github.event.issue.labels.*.name, 'issue review') && (github.event.action == 'edited' || github.event.action == 'labeled')
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v1

      - name: Install dependencies
        run: bun install

      - name: Run lint
        run: bun run lint

      - name: Run review script
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
          ISSUE_LANGUAGE: ${{ vars.ISSUE_LANGUAGE }}
        run: bun ./dist/review-issue.js

      # TODO: Implement hiding old comments when GitHub provides an API for changing comment states (e.g., to 'outdated' or 'off-topic').
      # ref: https://docs.github.com/en/rest/issues
